@model school.Models.Teacher

@{
    ViewBag.Title = "Show";
}

@Html.ActionLink("Back to Teachers", "List", "Teacher", new { }, new { @class = "navlink" })

<div id="containershow">
    <h2>@($"{Model.TeacherFname} {Model.TeacherLname}")</h2>
</div>

@Html.Partial("~/Views/Shared/_CoursesPartial.cshtml", Model.Courses)

<div>
    @Html.ActionLink("Delete This Teacher", "DeleteConfirm", "Teacher", new { id = Model.TeacherId }, new { style = "color: #ff0000;" })
</div>


